<!DOCTYPE html>
<html>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">"></script>
	<link rel="stylesheet" href="/static/css.css">

	<script>
		
		$(document).ready(function(){

    		$("#but_upload").click(function(){

        		var fd = new FormData();
        		var files = $('#file')[0].files[0];
        		fd.append('file',files);

       		$.ajax({
            	url: 'upload.php',
	            type: 'post',
	            data: fd,
	            contentType: false,
	            processData: false,
	            success: function(response){
	                if(response != 0){
	                    $("#img").attr("src",response); 
	                    $(".preview img").show(); // Display image element
	                }else{
                	    alert('file not uploaded');
                	}
		            },
		        });
		    });
		});

	</script>


	<title>Hello world!</title>
</head>
<body>
<div class="container">
    <form method="post" action="{{ url_for('upload_file') }}" enctype="multipart/form-data" id="myform">
        <div class='preview'>
            <img src="" id="img" width="100" height="100">
        </div>
        <div >
            <input type="file" id="file" name="file" />
            <input type="submit" class="button" value="Upload" id="but_upload">
        </div>
    </form>
</div>
</body>
</html>